* {
  margin: 0px;
  padding: 0px;
  font-family: Lato, sans-serif;
  color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700");
/* Tags */
html {
  scroll-behavior: smooth;
}
body{
  background-color: #deefef;
}
a {
  text-decoration: none;
}
h1{
  color: #456981;
  font-size: 130px;
  font-family: 'Kanit', sans-serif;
}
h2 {
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
	font-family: Lora, serif;
	font-weight: 200;
}
h2::before {
	content: '─';
	margin-right: 0.6em;
	color: #686868;
}
h2::after {
	content: '─';
	margin-left: 0.6em;
	color: #686868;
}
.container {
  width: 85%;
  margin: 0px auto;
}
legend img{
  width: 70px;
}
/* Background */
.text {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 110px;
  font-weight: 700;
  color: #deefef;
  text-shadow: 1px 1px 1px #164b62,
      1px 2px 1px #164b62,
      1px 3px 1px #164b62,
      1px 4px 1px #164b62,
      1px 5px 1px #164b62,
      1px 6px 1px #164b62,
      1px 7px 1px #164b62,
      1px 8px 1px #164b62,
      1px 9px 1px #164b62,
      1px 10px 1px #164b62,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
  margin-left: 45px;
}
.text2{
  font-size: 30px;
  float: left;
  margin-left: 55px;
  text-shadow: 1px 1px 1px #164b62,
  1px 2px 1px #164b62,
  1px 3px 1px #164b62,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
  color: #deefef;
}
#background {
  background-image: url(../img/pozadina.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  height: 100vh;
  width: 100%;
}

/* Header & Navbar */

header{
  background-color: #164b62;
  width: 100%;
  height: 45px;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
  position: fixed;
  z-index: 1000;
}
nav {
  width: 70%;
  float: right;
  text-align: right;
  color:#00172d;
  padding-top: 10px;
  margin-right: 5%;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  font-size: 20px;
  margin-left: 5%;
}
nav ul li a {
  color: #eee;
}
nav ul li a:hover {
  color: #456981;
}
.logo {
  width: 20%;
  float: left;
  background-color: #456981;
  position: absolute;
  height: 100%;
}
.logo img{
  width: 100%;
}
.hamburger{
  width: 5%;
  float: right;
  position: fixed;
  left: 93%;
  top: 20px;
  cursor: pointer;
  z-index: 100000;
  display: none;
}
.hamburger img{
  width: 100%;
}
.menu-box{
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 100%;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  z-index: 1000;
}
.menu-box ul li{
  list-style-type: none;
}
.menu-box ul li a{
  display: inline-block;
  color: #eee;
  font-size: 50px;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
  text-decoration: none;
}
.menu-box.open-menu{
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 0;
}
.menu-icon{
  z-index: 200000;
}
#heading {
  padding-top: 8%;
  font-size: 50px;
  text-align: left;
  height: 800px;
}
/* Zasto Kupolis */
.boxes-container {
  width: 100%;
  height: 200px;
}
.boxes{
  width: 50%;
  float: left;
}
.box {
  width: 50%;
  text-align: center;
  transition-duration: 0.3s;
  float: left;
}
.box span {
  font-size: 50px;
  font-weight: 600;
}
.boxes1 {
	margin-top: 100px;
	display: flex;
	justify-content: space-evenly;
}
.boxes1:last-child {
	margin-top: 120px;
}
.box1 {
	width: 30vw;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 200;
	padding: 0 4vw 4vw;
	border-right: 2px;
	border-left: 0;
	border-style: solid;
	border-image: linear-gradient(to bottom, #404545, #eee, #404545) 1 100%;
  text-align: center;
}
.box1:last-child {
	border-right: 0;
}
.box1 .icon {
	font-size: 4em;
	color: #555;
	margin-bottom: 0.6em;
}
.box1 .icon:hover {
	color: #d8d8d8;
}
.box1 h2 {
	font-size: 1.3em;
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 200;
	line-height: 1em;
	color: #f2f2f2;
}
.box1 img{
  width: 100%;
}
.box1 i{
  font-size: 30px;
}
/* O Nama */
#about-us{
  height: 1080px;
  background-image: url(../img/naselje4.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#about-us p, #domes p{
  color: #fff;
  line-height: 25px;
  text-align: justify;
}
#about-us h2, #domes h2, #ponuda h2, #benefiti h2, #usluge h2{
  color: #fff;
  margin-bottom: 20px;
}
fieldset{
  width: 40%;
  border: 2px solid #fff;
  float: right;
  padding:3%;
  background-color: rgba(0,0,0,0.6);
  margin-top: 20%;
}
.darken{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* Benefiti */

#benefiti-link{
  margin-top: 50px;
  margin-bottom: 50px;
}
#benefiti{
  text-align: center;
  padding-bottom: 120px;
  width: 60%;
  margin: 0 auto;
}
.benefiti {
	padding: 5vw;
}

/* Usluge */

#usluge, #benefiti{
  width: 100%;
  height: 600px;
  background-color: #404545;
  padding-top: 100px;
}
#usluge h2, #benefiti h2{
  margin-bottom: 100px;
}
#usluge p{
  font-size: 20px;
  font-weight: 600;
}
#usluge .awesome{
  font-size: 30px;
}
.banners{
  width:100%;
  display: flex;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2;
  border-style: solid;
	border-image: linear-gradient(to right, #404545, #eee, #404545) 1;
}
.banners:last-child{
  border-bottom: 0px;
}
.banner{
  height: 100px;
  width: 19.5%;
  border-right: 0.5%;
	border-left: 0;
	border-style: solid;
	border-image: linear-gradient(to bottom, #404545,#666a6a ,#eee) 1 100%;
  text-align: center;
  padding-top: 20px;
}
.banner-bottom{
  border-image: linear-gradient(to top, #404545,#666a6a ,#eee) 1 100%;
}
.banner:last-child {
	border-right: 0;
}
.banner p{
  margin-top: 15px;
  color: #8f9a9a;
}
.banner-benefit{
  height: 200px;
  width: 18.5%;
  padding-top: 0;
  padding: 0.5%;
}
.banner-benefit p{
  font-size: 15px;
}
.banner-benefit h3{
  color:#456981;
  font-size: 23px;
}
/* O Kupolama */
#domes{
  width: 100%;
  height: 1080px;
  background-image: url(../img/voda4.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.fieldset-2{
  float: left;
}
/* Ponuda */
#ponuda{
  background-color: #404545;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
}
#ponuda h3{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #eee;
}
#ponuda p{
  color: #8f9a9a
}
.cena{
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  font-style: italic;
  font-weight: 650;
  font-size: 25px;
  border-bottom: 2px;
	border-style: solid;
	border-image: linear-gradient(to right, #404545, #eee, #404545) 1;
  padding: 3%;
}
/* Panorama */
#panorama{
  height: 500px;
  width: 100%;
  background-image: url(../img/voda3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* Nas Tim */

#team h2{
  margin-bottom: 100px;
  margin-top: 100px;
}
.workers{
  display:flex;
  width: 70%;
  height: 100px;
  justify-content: space-between;
  margin: 0 auto;
}
.worker p{
  margin-top: 10px;
  color: #456981;
}
.worker{
  width: 20%;
  border-bottom: 1px solid #456981;
  height: 70px;
  padding: 1.5%;
  transition: 0.4s ease-in-out;
}
.quote{
  width: 40%;
  font-style: italic;
  margin:0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.quote fieldset{
  float: none;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  line-height: 25px;
  background-color: #deefef;
  border: 2px solid #164b62;
}
.quotation{
  color:#164b62;
  float: right;
  font-size: 20px;
}
/* Kontakt */
#contact {
  height: 550px;
  padding-top: 100px;
}
.contact-form {
  width: 60%;
  height: 400px;
  padding: 5%;
  padding-bottom: 0;
  float: left;
  background-color: #456981;
  margin-bottom: 150px;
}
.contact-information {
  width: 30%;
  height: 400px;
  float: left;
  padding-top: 5%;
  background-color: #164b62;
}
.contact-information h2{
  font-size: 35px;
  color: #fff;
}
.contact-information p{
  color: #fff;
}
.email-form {
  display: flex;
  justify-content: space-between;
}
#subject {
  width: 100%;
  height: 35px;
}
#email {
  width: 100%;
  height: 35px;
}
input, textarea {
  border: 0px;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font-size: 15px;
  padding: 0.5%;
  resize: none;
}
input:focus, textarea:focus {
  outline: none;
}
.field-holder{
  position:relative;
  width: 49%;
}
label{
  position: absolute;
  top: 7px;
  left: 5px;
  color: #eee;
  display: flex;
  align-items: center;
  cursor: text;
  width: 100%;
  transition: .3s ease-in-out;

}
input:focus + label,
input:valid +label{
  font-size: 20px;
  top: -25px;
  pointer-events: none;
}
::placeholder {
  color: #eee;
  font-size: 15px;
}

.text-form {
  width: 100%;
  margin-top: 50px;
}

#send{
  color: #eee;
  padding: 1%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  border: 1px solid #eee;
  font-weight: 500;
  transition: .6s ease-in-out;
}
#send:hover{
  background-color: #164b62;
  color: #eee;
  border: 1px solid #164b62;
}
.kontakti {
  margin-top: 5%;
}
.contact-description p {
  margin-top: 30px;
}
.invalid{
  border-bottom: 2px solid red;
}
/* Footer */

footer{
  width: 100%;
}
.copyright{
  text-align: center;
  width: 100%;
  height: 100px;
}
.copyright p{
  color:#164b62;
}

/* Fonts awesome */

.awesome {
  font-size: 20px;
  color: #456981;
  margin: 0;
}
.awesome-contacts {
  margin-right: 10px;
  margin-left: 5%;
  font-size: 20px;
  color: #456981;
}

/* Animacije */

.landing-from-left {
  opacity: 0;
  transform: translateX(-20%);
  animation: landFromLeft 1s ease-out forwards;
}
@keyframes landFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes landFromRight {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.landing-from-right {
  opacity: 0;
  transform: translateX(20%);
  animation: landFromRight 1s ease-out forwards;
}

@keyframes landFromDown {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing-from-down {
  opacity: 0;
  transform: translateY(30%);
  animation: landFromDown 1.5s ease-out forwards;
}
@keyframes landFromUp {
  from {
    opacity: 0;
    transform: translateY(-40%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.landing-from-up {
  opacity: 0;
  transform: translateY(-30%);
  animation: landFromUp 1s ease-out forwards;
}

/* Responsive CSS*/

@supports (-webkit-touch-callout: none) {
  #background{
    background-attachment: scroll;
    background-position: -200px 0;
  }
  #about-us{
    background-attachment: scroll;
  }
  #domes{
    background-attachment: scroll;
  }
  #panorama{
    background-attachment: scroll;
  }
}
@media only screen and (max-width:1460px){
  fieldset{
    width: 45%;
  }
}
@media only screen and (max-width:1380px){
  .workers{
    width: 80%;
  }
  fieldset{
    width: 50%;
  }
  #contact h2::before {
    content: none;
    margin:0;
  }
  #contact h2::after {
    content: none;
    margin-left: 0;
  }
}
@media only screen and (max-width:1200px){
  .container{
    width: 90%;
  }
  fieldset{
    width: 60%;
  }
  .quote{
    width: 50%;
  }
  .banner-benefit{
    height: 250px;
  }
  .banner-benefit h3{
    font-size: 17px;
  }
  #benefiti{
    height: 800px;
  }
  .cena{
    width: 50%;
  }
}

@media only screen and (max-width:980px){
  .contact-information{
    width: 70%;
    float: none;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
  }
  .contact-form{
    width: 70%;
    float: none;
    margin: 0 auto;
  }
  #contact{
    height: 1050px;
  }
  fieldset{
    width: 90%;
    margin-top: 30%;
  }
  .quote{
    width: 60%;
  }
  #benefiti{
    height: 1600px;
  }
  .banner{
    width: 48%;
    float: left;
    border: 0;
    padding: 1%;
    height: 150px;
  }
  .banner:last-child{
    margin-left: 25%;
  }
  .banners{
    display: inline-block;
    margin-top: 30px;
    border: 0;
  }
  #usluge{
    height: 1200px;
  }
  .cena{
    width: 60%;
  }
}
@media only screen and (max-width:770px){
  #background{
    background-position: -150px 0px;
  }
  #about-us{
    background-position: -150px 0px;
  }
  #domes{
    background-position: -150px 0px;
  }
  #panorama{
    background-position: -200px 0px;
  }
  .workers{
    width: 100%;
  }
  .quote{
    width: 65%;
  }
  .banner-benefit{
    height: 200px;
  }
  .cena{
    width: 80%;
  }
  header{
    display: none;
  }
  .hamburger{
    display: block;
    width: 7%;
    left: 90%;
  }
}
@media only screen and (max-width:680px){
  h2{
    font-size: 35px;
  }
}
@media only screen and (max-width:635px){
  h2{
    font-size: 30px;
  }
  .box span {
    font-size: 40px;
    font-weight: 600;
  }
  .boxes-container{
    height: 400px;
    margin-top: 50px;
  }
  .boxes{
    float: none;
    width: 100%;
    height: 150px;
  }
  .workers{
    display: block;
  }
  .worker h3{
    font-size: 25px;
  }
  .worker{
    width: 35%;
    float: left;
    margin-left: 8%;
    height: 100px;
    text-align: center;
  }
  #team{
    height: 1000px;
  }
  .quote{
    width: 75%;
    margin-top: 0;
  }
  .boxes1{
    display: inline-block;
    margin: 0;
  }
  .box1{
    width: 90%;
    padding: 5%;
    border: 0;
  }
  .text{
    font-size: 90px;
    margin: 0;
  }
  .text2{
    margin: 0;
    margin-left: 7px;
    margin-top: 10px;
  }
}
@media only screen and (max-width:550px){
  #background{
    background-position: -200px 0px;
  }
  #domes{
    background-position: -230px 0px;
  }
  #panorama{
    background-position: -250px 0px;
  }
  h2{
    font-size: 30px;
  }
  header{
    display: none;
  }
  .contact-information{
    width: 80%;
    margin: 0 auto;
  }
  .contact-form{
    width: 80%;
    margin: 0 auto;
  }
  .text{
    font-size: 80px;
    margin: 0;
  }
}
@media only screen and (max-width:450px){
  #background{
    background-position: -350px 0px;
  }
  @supports (-webkit-touch-callout: none) {
    #background{
      background-position: -900px 0px;
    }
  }
  #domes{
    background-position: -300px 0px;
  }
  #panorama{
    background-position: -430px 0px;
  }
  fieldset{
    width: 94%;
    margin-top: 50%;
  }
  #benefiti{
    height: 2100px;
  }
  #usluge{
    height: 1400px;
  }
  .banners{
    margin: 0;
  }
  .banner{
    height: 75px;
    width: 90%;
    border: 0;
    padding: 5%;
  }
  .banner:last-child{
    margin: 0;
  }
  .banner-benefit{
    height: 150px;
  }
  .worker{
    height: 120px;
    text-align: center;
  }
  .text{
    font-size: 70px;
    margin: 0;
  }
  .text2{
    margin: 0;
    margin-left: 7px;
    margin-top: 10px;
  }
  .quote{
    width: 80%;
    margin:0;
    margin-top: 400px;
    margin-left: 8%;
  }
  h2::before {
    content: none;
    margin:0;
  }
  h2::after {
    content: none;
    margin-left: 0;
  }
  .cena{
    width: 92%;
  }
  #heading{
    padding-top: 30%;
    height: 300px;
  }
  .hamburger{
    width: 9%;
    left: 88%;
  }
}
